# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS
*.lastbuildstate
*.db
*.props
*.tlog

# Build dirs
vs2015_FicTrac/x64/

# Data dir
data
vsbuild/x64/
vsbuild/libfictrac/x64/
vsbuild/.vs/
bin/
